body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #0b0f1a;
  color: #e0f7fa;
  line-height: 1.6;
}

/* Header */
header {
  background: #0d111c;
  border-bottom: 2px solid #00bcd4;
  padding: 20px 0;
}

.header-content {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-img {
  height: 40px;
}

.logo-text {
  font-size: 29px;
  color: #fff;
  font-weight: bold;
}

.logo-text span {
  color: #00bcd4;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.nav-list a {
  justify-content: flex-start;
  text-decoration: none;
  color: #a0dff0;
}
#menu-toggle{
    display: none;
    color: #fff;
    background-color: #0b0f1a;
     border: none;
}

/* Main */
.main-container {
  width: 70%;
  margin: auto;
  display: flex;
  gap: 40px;
  padding: 40px 20px;
}

.news-article {
  flex: 2;
}

.article-image img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.article-content {
  font-size: 16px;
}

.article-title {
  font-size: 35px;
  color: #fff;
  margin-bottom: 10px;
}

.article-subtitle {
  font-size: 19px;
  color: #b2ebf2;
  margin-bottom: 10px;
}

.article-author {
  font-size: 14px;
  color: #80cbc4;
  margin-bottom: 20px;
}

.article-content p {
  margin-bottom: 16px;
}

/* ASIDE */
.sidebar {
  flex: 1;
  background-color: #0f141f;
  padding: 20px;
  border-radius: 8px;
}

.sidebar-title {
  margin-bottom: 10px;
  color: #00bcd4;
  border-bottom: 1px solid #2e3e50;
  padding-bottom: 5px;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.sidebar-list li {
  margin-bottom: 10px;
}

.sidebar-list a {
  color: #a0dff0;
  text-decoration: none;
}

.newsletter-text {
  margin-top: 10px;
  font-size: 15px;
  color: #cfd8dc;
}

.newsletter-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.newsletter-input {
  background: #1c293a;
  color: #e0f7fa;
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.newsletter-button {
  background: #00bcd4;
  color: #fff;
}

/* Footer */
.footer {
  background-color: #10131d;
  padding-top: 40px;
  border-top: 2px solid #00bcd4;
  margin-top: 40px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  width: 70%;
  margin: auto;
  padding: 0 20px 40px;
}

.footer-column {
  flex: 1;
}

.footer-title {
  color: #00bcd4;
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list li {
  margin-bottom: 8px;
}

.footer-list a {
  color: #a0dff0;
  text-decoration: none;
  font-size: 15px;
}

.footer-brand .footer-logo {
  width: 40px;
  margin-bottom: 10px;
}

.footer-description {
  color: #90a4ae;
  font-size: 15px;
  line-height: 1.4;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #2e3e50;
  font-size: 14px;
  color: #90a4ae;
  padding-bottom: 5px;
}
/* MEDIAS QUERY MOBILE */
@media (max-width: 480px) {
  .header-content,
  .main-container,
  .footer-container {
    width: 90%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav-list {
    flex-direction: column;
    gap: 10px;
  }

  .logo-text {
    font-size: 24px;
  }

  .article-title {
    font-size: 26px;
  }

  .article-subtitle {
    font-size: 16px;
  }

  .main-container {
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
  }

  .footer-column {
    width: 100%;
  }

  .newsletter-input {
    width: 100%;
  }

  #menu-toggle {
    display: block;
  }
  .nav-p{
    display: none;
  }
}

/* MEDIAS QUERY TABLET */

@media (min-width: 481px) and (max-width: 768px) {

  .main-container {
    flex-direction: column;
    gap: 30px;
    padding: 30px 15px;
  }

  .footer-column {
    width: 100%;
  }

  .newsletter-input {
    width: 100%;
  }
}